/*Color Palette*/
:root {
    --link-a-color: rgb(110, 130, 140);
    --generic-text-color: rgb(255, 255, 255);
    --generic-background-color: rgb(0, 0, 0);
    --page-title-color: rgba(255, 255, 255, 0.1);
    --page-subtitle-color: rgba(255, 255, 255, 0.5);
    --section-title-color: rgb(70, 110, 140);
    --blue-title-shadow-color: rgb(60, 80, 90);
    --white-title-shadow-color: rgb(0, 0, 0);
    --blue-shadow-color: rgb(60, 80, 90);
    --main-title-color: rgb(100, 140, 150);
    --loader-color: rgb(60, 80, 90);
    --header-shade: rgba(0, 0, 0, 0.7);
    --background-shade: rgba(0, 0, 0, 0.5);
    --generic-border-color: rgb(33, 33, 33);
    --container-border-color: rgb(255, 255, 255);
    --main-border-color: rgb(60, 80, 90);
    --mobile-menu-close-button-color: rgb(255, 255, 255);
    --mobile-menu-background-color: rgb(0, 0, 0);
    --sound-control-bar-background-color: rgb(60, 80, 90);
    --skillbar-background: rgb(66, 66, 66);
    --skillbar-hover-effect-color: rgb(0, 100, 200);
    --skillbar-fill-color: rgb(0, 110, 140);
    --more-skill-background-color: rgba(0, 100, 100, 0.5);
    --container-hover-color: rgb(0, 110, 140);
    --important-text-hover-color: rgb(210, 210, 50);
    --project-detail-visit-button-color: rgb(0, 140, 190);
    --project-detail-nav-background-color: rgba(100, 100, 100, 0.2);
}

/* fonts */
@font-face {
    font-family: "Jost";
    src: url("fonts/Jost-200-Thin.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("fonts/Jost-300-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* common */
html,
body {
    height: 100%;
    color: var(--generic-text-color);
    background-color: var(--generic-background-color);
    margin: 0;
    padding: 0;
    font-family: "Jost", serif;
    box-sizing: border-box;
    position: relative;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--link-a-color);
}

p {
    opacity: 0.8;
}

#webgl {
    position: fixed;
    z-index: 2;
    opacity: 0;
    transition: 1s opacity linear;
}

#webgl.show {
    opacity: 1;
}

/* Page common styles */
.page {
    width: 100%;
    position: absolute;
    transform: translate3d(0, 20%, 0);
    top: 0;
    left: 0;
    background: none;
    padding-bottom: 5em;
    transition: 0.8s linear;
}

.page.show {
    z-index: 100;
    transform: translate3d(0, 0, 0);
}

.page.hide {
    display: none;
}

/* Titles and subtitles */
.page-title,
.page-subtitle,
.section-title {
    user-select: none;
    pointer-events: none;
    text-transform: uppercase;
}

.page-title {
    white-space: nowrap;
    position: absolute;
    top: 0.65em;
    font-size: 12em;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: var(--page-title-color);
    letter-spacing: 0.35em;
    font-weight: 300;
}

.page-subtitle {
    position: relative;
    white-space: nowrap;
    top: 7.5em;
    margin: 0 auto;
    color: var(--page-subtitle-color);
    letter-spacing: 0.40em;
    font-size: 2em;
    text-align: center;
}

.page .feature {
    user-select: none;
    margin-top: 22em;
}

.page .feature .feature-image {
    width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

.section-title {
    text-align: center;
    margin: 2em 0;
    text-shadow: 0 0.1875rem 0.825rem var(--blue-title-shadow-color);
    letter-spacing: 0.3em;
    font-size: 2em;
    color: var(--section-title-color);
}

/* Feature sections */

.data-container {
    border: 0.1875rem solid var(--main-border-color);
    border-left: none;
    border-right: none;
    border-radius: 1.5625rem;
    background: var(--background-shade);
}

.data-detail-container {
    border: 1px solid var(--container-border-color);
    border-radius: 0.9375rem;
    border-right: none;
    border-left: none;
}

.data-detail-button {
    background-color: var(--project-detail-visit-button-color);
    border: 2px solid var(--generic-border-color);
    color: var(--generic-text-color);
    text-align: center;
    display: inline-block;
    border-radius: 0.9375rem;
}

/* loader */
.loader {
    height: 0.25em;
    background-color: var(--loader-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s all, 0.5s opacity;
    display: none;
    opacity: 0.7;
}

.loader.show {
    display: block;
    z-index: 10000;
}

/* STYLE FOR WIDTH LARGE OR HIGHER */
/* header */
.header {
    position: fixed;
    width: 100%;
    height: 7em;
    transition: 1s all linear;
    display: none;
}

.header.show {
    z-index: 1001;
    top: 0;
    display: block;
}

.header.shade {
    background: var(--header-shade);
}

.header .logo {
    cursor: pointer;
    position: absolute;
    top: 1em;
    left: 2em;
    z-index: 100;
    width: auto;
    height: 5em;
}

/* header-desktop-menu */
.header .header-menu {
    z-index: 0;
    position: relative;
    text-align: right;
    top: 2.8em;
    right: 4em;
}

.header .header-menu .menu-item {
    user-select: none;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 1.3em;
    opacity: 0.5;
    padding-right: 0.4375rem;
}

.header .header-menu .menu-item:hover {
    opacity: 1;
}

/* mobile-menu showButton */
.menu-button {
    display: none;
    width: 3.125rem;
    position: relative;
    float: right;
    top: 1em;
    right: 3em;
    transform: rotate(0deg);
    transition: 0.5s linear;
    cursor: pointer;
    height: 2em;
}

.menu-button span {
    display: block;
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background: var(--mobile-menu-close-button-color);
    border-radius: 0.625rem;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s linear;
}

.menu-button span:nth-child(1) {
    top: 0;
}

.menu-button span:nth-child(2) {
    top: 0.75rem;
}

.menu-button span:nth-child(3) {
    top: 1.5rem;
}

.menu-button.active span:nth-child(1) {
    top: 0.5em;
    transform: rotate(135deg);
}

.menu-button.active span:nth-child(2) {
    opacity: 0;
    display: none;
}

.menu-button.active span:nth-child(3) {
    top: 0.5em;
    transform: rotate(-135deg);
}

/* mobile-menu */
.menu {
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    transition: 1s all;
    z-index: 0;
    background: var(--mobile-menu-background-color);
    display: none;
}

.menu.show {
    z-index: 1000;
    display: block;
}

.menu .menu-items {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-inline-start: 0;
    width: 80%;
}

.menu .menu-item {
    user-select: none;
    cursor: pointer;
    list-style: none;
    opacity: 0.5;
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
    padding: 0.625rem;
    text-transform: uppercase;
}

.menu .menu-item:hover {
    background-color: var(--container-hover-color);
    opacity: 1;
}

.menu .menu-item .menu-item-home {
    margin-top: 0;
}

/* sound controls and animation*/
.sound-controls {
    text-align: center;
    width: 2.8125rem;
    position: fixed;
    height: 1.125rem;
    margin-left: auto;
    right: 1.5em;
    top: 1.5em;
    cursor: pointer;
    z-index: 10000;
}

.sbar {
    height: 0.0625rem;
    width: 0.125rem;
    float: right;
    background-color: var(--sound-control-bar-background-color);
    opacity: 1;
    bottom: 0.3125rem;
    position: absolute;
    animation-duration: 500ms;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.sbar.noAnim {
    animation: none !important;
}

#sound-icon {
    position: relative;
    float: left;
}

.sbar#bar-1 {
    right: 0;
    animation-name: danceHeight1;
    animation-delay: 0ms;
}

.sbar#bar-2 {
    right: 0.25rem;
    animation-name: danceHeight2;
    animation-delay: 300ms;
}

.sbar#bar-3 {
    right: 0.5rem;
    animation-name: danceHeight3;
    animation-delay: 600ms;
}

.sbar#bar-4 {
    right: 0.75rem;
    animation-name: danceHeight4;
    animation-delay: 900ms;
}

@keyframes danceHeight1 {
    from {
        height: 0.0625rem;
    }

    to {
        height: 0.625rem;
    }
}

@keyframes danceHeight2 {
    from {
        height: 0.0625rem;
    }

    to {
        height: 0.75rem;
    }
}

@keyframes danceHeight3 {
    from {
        height: 0.0625rem;
    }

    to {
        height: 0.875rem;
    }
}

@keyframes danceHeight4 {
    from {
        height: 0.0625rem;
    }

    to {
        height: 0.5rem;
    }
}

/* home */
.home-bar {
    width: 100%;
    background: var(--generic-background-color);
    position: fixed;
    z-index: 1000;
    transition: 0.3s linear;
}

.top-bar {
    top: 0;
}

.bottom-bar {
    bottom: 0;
}

.home-bar-show {
    height: 5.5em;
}

.home-bar-hide {
    height: 0;
    min-height: 0;
}

.home {
    overflow: hidden;
    height: 100%;
    padding-bottom: 0;
    pointer-events: none;
}

.home .titles {
    top: 50%;
    left: 50%;
    z-index: 100;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    pointer-events: none;
    opacity: 1;
}

.home .page-title {
    font-size: 5em;
    letter-spacing: 0.50em;
    color: var(--main-title-color);
    text-shadow: 0 0.375rem 0.625rem var(--blue-title-shadow-color);
    text-indent: 0.18em;
    font-weight: 400;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
}

.home .page-akatitle {
    font-size: 1.7em;
    letter-spacing: 0.6em;
    color: var(--main-title-color);
    text-shadow: 0 0.375rem 0.625rem var(--blue-title-shadow-color);
    text-indent: 0.18em;
    font-weight: 400;
    position: relative;
    top: -1vh;
    left: auto;
    transform: none;
    user-select: none;
}

.home .page-subtitle {
    font-size: 1.3em;
    letter-spacing: 0.8em;
    text-indent: 0.12em;
    font-weight: 400;
    position: relative;
    top: 0;
    left: auto;
    transform: none;
}

.footer-menu {
    z-index: 100;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 10em;
    width: 100%;
    text-align: center;
    transition: 0.4s all linear;
    display: none;
}

.footer-menu.show {
    display: block;
}

.footer-menu .menu-items {
    padding: 0;
    margin: 0;
}

.footer-menu .menu-item {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-indent: 0.015em;
    font-size: 1.3em;
    opacity: 0.5;
    padding: 0 2em;
    user-select: none;
}

.footer-menu .menu-item:hover {
    opacity: 1;
}

/* info */
.info .bio,
.info .skill-intro,
.info .ethic {
    margin: 0 auto;
    width: 80%;
    font-size: 1.5em;
}

.skillset {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    position: relative;
    width: 80%;
    margin: 3em auto;
    padding: 0 3em;
}

.skillset .skill-container {
    grid-column: span 5;
}

.skillset .padder {
    grid-column: span 1;
}

.skill-container .skill-title {
    grid-column: span 11;
    text-align: center;
    pointer-events: none;
    margin: 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 1.4em;
    color: var(--main-title-color);
    text-shadow: 0 0.2rem 0.25rem var(--blue-title-shadow-color);
    user-select: none;
}

.skill-container ul {
    list-style-type: none;
    display: inline;
}

.skillbar-container {
    background-color: var(--skillbar-background);
    border-radius: 3.125rem;
    margin-bottom: 1.5em;
    transition: all 0.3s linear 0s;
    cursor: pointer;
}

.skillbar-container:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0.75rem 0.375rem var(--skillbar-hover-effect-color);
}

.skillbar-container>i {
    float: left;
    font-size: 1em;
    position: relative;
    left: 1em;
    top: 0.7em;
}

.skillbar-container .skill-name i {
    float: left;
    font-size: 1em;
    position: relative;
    top: 0.45em;
    text-indent: 2em;
}

.skillbar-container .skill-name {
    letter-spacing: 0.1em;
    font-size: 1.35em;
    text-shadow: 0.2rem 0.2rem 0.3125rem var(--white-title-shadow-color);
    text-indent: 1em;
    position: fixed;
}

.skillbar-container .skillbar {
    height: 2.5rem;
    border-radius: 3.125rem 0 0 3.125rem;
    background-color: var(--skillbar-fill-color);
}

.more-skill-container {
    display: none;
    width: 90%;
    border-radius: 0 0 1.5rem 1.5rem;
    border: 0.06rem solid var(--generic-border-color);
    border-top: none;
    padding: 0.6rem;
    background-color: var(--more-skill-background-color);
    text-align: center;
    font-size: 1.2em;
    margin: -1.5rem auto 2rem;
}

/* projects */
.github-card {
    width: fit-content;
    margin: 18em auto 4em;
    text-align: center;
    position: relative;
    font-size: 1.5em;
    padding: 1em 2em 2em;
}

.github-card-avatar {
    border: 0.125rem solid var(--generic-border-color);
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 0.0625rem 0.0625rem var(--blue-shadow-color);
    transition: all .3s linear;
    width: 7.5rem;
    height: auto;
}

.github-card-avatar:hover {
    transform: scale(1.1);
}

.github-card-title {
    font-size: 1.5em;
    letter-spacing: 0.15em;
    color: var(--main-title-color);
}

.github-card-content {
    margin: 1.5em 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.github-card-element {
    text-transform: uppercase;
    grid-column: span 1;
    padding: 1.25rem;
    width: 60%;
    margin: 0 auto;
    transition: all 0.2s linear 0s;
}

.github-card-element a {
    text-decoration: none;
}

.github-card-element:hover {
    background-color: var(--container-hover-color);
}

.github-card-element:hover a {
    color: var(--important-text-hover-color);
}

.projects-content,
.contributions-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.list-item {
    grid-column: span 4;
    width: 90%;
    padding-bottom: 2rem;
    margin: 0 auto 3rem;
}

.list-item img {
    margin-top: 1.875rem;
    width: 100%;
    height: 21.875rem;
    transition: 0.5s opacity;
    opacity: 0.6;
    object-fit: scale-down;
}

.list-item .info .title {
    color: var(--main-title-color);
    text-align: center;
    font-size: 1.8em;
    letter-spacing: 0.08em;
}

.list-item .info .text {
    padding: 0 1.25rem 0 1.25rem;
    font-size: 1.3em;
    text-align: center;
}

.list-item .links .detail {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--main-title-color);
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 0.9375rem;
    transition: all 0.3s linear 0s;
}

.list-item:hover .links .detail {
    background-color: var(--container-hover-color);
    color: var(--important-text-hover-color);
}

.list-item:hover img {
    opacity: 1;
}

/* project detail */
.project-detail .page-title {
    font-size: 4em;
    letter-spacing: 0.055em;
    top: 18rem;
    color: var(--section-title-color);
}

.project-detail .page-subtitle {
    top: 15rem;
}

.project-detail .feature img {
    display: block;
    margin: 0 auto;
    top: 2em;
    position: relative;
    width: 65%;
    object-fit: contain;
}

.project-detail .description {
    margin: 0 auto;
    width: 80%;
    font-size: 1.5em;
    text-align: center;
}

.details-container,
.thanks-page-container {
    margin: 3em auto 0;
    position: relative;
    padding: 1em 2em;
}

.details-container {
    width: 55%;
}

.details-container .detail,
.thanks-page-container .detail {
    margin: 1em 0;
    display: grid;
    padding: 1.25rem;
    transition: all 0.3s linear 0s;
    font-size: 1.3em;
}

.details-container .detail {
    grid-template-columns: repeat(3, 1fr);
}

.thanks-page-container .detail {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.625rem;
}

.details-container .detail:hover,
.thanks-page-container .detail:hover {
    background-color: var(--container-hover-color);
}

.details-container .detail-title,
.thanks-page-container .detail-title {
    text-transform: uppercase;
    color: var(--main-title-color);
    transition: all 0.3s linear 0s;
    font-weight: 600;
}

.details-container .detail-title {
    grid-column: span 1;
}

.thanks-page-container .detail-title {
    grid-column: span 1;
    letter-spacing: 0.05em;
}

.details-container .detail:hover .detail-title,
.thanks-page-container .detail:hover .detail-title {
    color: var(--important-text-hover-color);
}

.details-container .detail-data,
.thanks-page-container .detail-data {
    float: right;
    grid-column: span 2;
    text-align: center;
}

.details-container .detail:hover .detail-data a,
.thanks-page-container .detail:hover .detail-link {
    color: var(--important-text-hover-color);
}

.details-container .detail-button {
    padding: 0.9375rem 2rem;
}

.thanks-page-container {
    width: 75%;
}

.thanks-page-container .detail-link {
    width: 70%;
    height: 1.875rem;
    margin: auto 0 auto 2em;
    float: right;
    grid-column: span 1;
}

/* bottom nav */
.bottom-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--project-detail-nav-background-color);
    height: 2.5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1.3em;
    user-select: none;
}

.bottom-nav .ctlbutton {
    text-transform: uppercase;
    text-align: center;
    margin: auto 0;
    grid-column: span 1;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.3s all linear;
}

.bottom-nav .ctlbutton:hover {
    opacity: 1;
}

/* platforms*/
.platforms .platforms-intro {
    margin: 0 auto;
    width: 80%;
    font-size: 1.5em;
}

.platforms .platforms-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    overflow: hidden;
    margin: 3em auto;
}

.platforms-container .platform {
    grid-column: span 1;
    width: 90%;
    padding-bottom: 2rem;
    margin: 0 auto 3rem;
}

.platforms-container .platform .platform-icon {
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0;
}

.platforms-container .platform .platform-title {
    color: var(--main-title-color);
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    margin-bottom: 1.25rem;
}

.platforms-container .platform .platform-link {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--main-title-color);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 0.625rem;
    transition: all 0.3s linear 0s;
}

.platforms-container .platform:hover .platform-link {
    background-color: var(--container-hover-color);
}

.platforms-container .platform:hover .platform-link a {
    color: var(--important-text-hover-color);
}

/* scrollbar settings -WebKit only */
::-webkit-scrollbar {
    width: 0;
}

/* Media Queries */
@media only screen and (max-width: 1366px) {

    .header .header-menu .menu-item {
        font-size: 1.1em;
    }

    .footer-menu {
        bottom: 8em;
    }

    .page .feature .feature-image {
        width: 85%;
    }

    .home .page-title {
        font-size: 3.5em;
    }

    .home .page-akatitle {
        font-size: 1.4em;
    }

    .home .page-subtitle {
        font-size: 0.9em;
    }

    .page-title {
        top: 1.6em;
        font-size: 7em;
    }

    /* projects */
    .projects-content,
    .contributions-content {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media only screen and (max-width: 1024px) {

    .home-bar,
    .header-menu,
    .logo,
    .skillset .padder {
        display: none;
    }

    .menu-button {
        display: block;
        opacity: 0.5;
    }

    .footer-menu {
        bottom: 3em;
    }

    .footer-menu .menu-item {
        font-size: 1.2em;
        padding: 0 1.5rem;
    }

    .header {
        height: 4em;
    }

    .page-title {
        top: 1em;
    }

    .page-subtitle {
        font-size: 1.5em;
        top: 7.5em;
    }

    .page .feature {
        margin-top: 18em;
    }

    .section-title {
        font-size: 1.6em;
    }

    /* sound controls */
    .sound-controls {
        left: 1em;
        top: 2em;
        right: unset;
    }

    /* home */
    .home .page-title {
        font-size: 2.6em;
    }

    .home .page-subtitle {
        letter-spacing: 0.45em;
    }

    .info .bio,
    .info .skill-intro,
    .info .ethic,
    .platforms .platforms-intro {
        font-size: 1.3em;
    }

    .skillset .skill-container {
        grid-column: span 11;
    }

    .github-card {
        margin: 13em auto 4em;
        width: 70%;
    }

    .list-item {
        grid-column: span 12;
    }

    /* projectDetail */
    .project-detail .page-title {
        font-size: 3em;
        top: 4em;
    }

    .project-detail .page-subtitle {
        top: 6em;
        font-size: 1.5em;
    }

    .project-detail .feature img {
        width: 80%;
    }

    .details-container {
        margin-bottom: 6em;
        width: 80%;
    }

    .project-detail .description {
        font-size: 1.3em;
    }

    .details-container .detail {
        margin: 1.25rem 0;
        padding: 0.625rem;
        font-size: 1.3em;
    }

    .details-container .detail-title,
    .details-container .detail-data {
        text-align: center;
        grid-column: span 3;
    }

    .bottom-nav {
        height: auto;
    }

    .bottom-nav .ctlbutton {
        margin: 0.3125rem 0;
        grid-column: span 3;
    }

    /* platforms */

    .platforms-container .platform {
        grid-column: span 3;
    }

    .platforms-container .platform .platform-title {
        font-size: 2em;
    }

    /* thanks */
    .thanks-page-container .detail-title,
    .thanks-page-container .detail-data {
        margin-top: 1.25rem;
        text-align: center;
        grid-column: span 4;
    }

    .thanks-page-container .detail-link {
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        margin: 1.25rem auto;
        width: 50%;
        grid-column: span 4;
    }
}

@media only screen and (max-width: 800px) {
    .page-title {
        font-size: 11vw;
        top: 6rem;
    }

    .page-subtitle {
        font-size: 3vw;
        top: 8rem;
    }

    .page .feature {
        margin-top: 18em;
    }

    .section-title {
        font-size: 1.4em;
    }

    /* home */
    .home .page-title {
        font-size: 5.5vw;
    }

    .home .page-akatitle {
        margin-top: 2em;
        font-size: 2.3vw;
    }

    .home .page-subtitle {
        font-size: 2.2vw;
    }

    /* info*/
    .info .bio,
    .info .skill-intro,
    .info .ethic {
        font-size: 1.3em;
    }

    .skillset {
        padding: 0 0.5em;
    }

    .skillset .skill-container,
    .skillset .padder {
        grid-column: span 11;
    }

    .skillset .padder {
        display: none;
    }

    .skillbar-container .skill-name i {
        top: 0.6em;
    }

    .skill-container .skill-title {
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }

    .skillbar-container .skill-name {
        font-size: 1.1em;
        line-height: 2.3em;
    }

    /* projects */
    .github-card {
        margin: 13em auto 4em;
        width: 60%;
    }

    .github-card-title {
        font-size: 1.5em;
        letter-spacing: 0.1em;
    }

    .github-card-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .github-card-element {
        grid-column: span 1;
        padding: 1.25rem;
        width: 90%;
        margin-top: 1.5em;
    }

    .list-item {
        grid-column: span 12;
    }

    .list-item .info .title {
        font-size: 1.4em;
        letter-spacing: 0;
        overflow: hidden;
    }

    .list-item .info .text {
        font-size: 1.1em;
    }

    /* projectDetail */
    .project-detail .page-title {
        font-size: 1.5em;
        top: 8em;
    }

    .project-detail .page-subtitle {
        top: 8em;
        font-size: 1.2em;
    }

    .project-detail .feature img {
        width: 90%;
    }
}